

<div class="container body_all">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <% @assignments.each do |assignment| %>
      <%= link_to assignment_path(id: assignment.id) do %>
        <div class="well lesson_content fade-in">
          <h3>A<%= assignment.assignment_number %>. <%= assignment.title %> </h3>
          <p>
            <%= assignment.content[0,200] %>...
          </p>
          <% if @current_user.usertype == "teacher" %>
            <div class="">
              <small> Released to students? <%= assignment.released_display %></small>
            </div>
          <% end %>
          <small class= "timestamp">
            created <%= time_ago_in_words(assignment.created_at)%> ago
          </small>
          <h4><%= link_to "Edit", edit_assignment_path(id: assignment.id) %>   </h4>
        </div>
      <% end %>
      <%end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="margin_review_feedback">
    </div>
  </div>
</div>
