<div class="container body_all">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2 student_profile_title_section">
      <div class="student_picture">
        <%= image_tag("student_avatar.jpg", size: "160x160") %>
      </div>
      <h1><%= @student.full_name%></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <div class="well performance_summary">

          <% @subm_arecords =[]
          @assignments_all = Assignment.all.where(released: "1").order(assignment_number: :asc)
          @assignments_all.each do |assignment|
            # ELIMINATED CASE: 1) if there are no records for this assignment, do not add assignment to student assingments
            #2)for this assignment, if there is no record for this user, do not add assignment to student lessons
            if assignment.assignmentrecords.find_by(user_id: @student.id) == nil
                #skip assignment
            else
                  ##grab all arecords for this user and lesson, pick the latest one, and add it to the list
                  all_user_arecords = assignment.assignmentrecords.order(created_at: :asc).select{|record| record.user_id == @student.id}
                  if all_user_arecords != nil
                    # && all_user_arecords.last.score != nil
                    @subm_arecords << all_user_arecords.last
                  end
            end
          end
         %>


          <p><strong>Assignments completed: </strong><%= @subm_arecords.count %> out of <%= @assignments.count %> assigned</p>
          <p><strong>Lessons completed: </strong><%= @student.lessonrecords.count %> out of <%= @lessons.count %> assigned</p>

      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <div class="section_header">
        <h2>Assignments: </h2>
      </div>
      <% @current_assignments.each do |assignment| %>
        <div class="well lesson_content">
              <h3 class="content_title">A<%= assignment.assignment_number %>.
                <%= assignment.title %> </h3>
            <% @this_arecord = Assignmentrecord.find_by(assignment_id: assignment.id, user_id: @student.id)
              if @this_arecord != nil %>
                <h4 class="assignment_submitted"> Assignment submitted</h4>
                <small class= "timestamp"></small>
                  <div class="view_content_w_button">
                    <%= link_to "View assignment", assignment_path(id: assignment.id) %>
                    <%if @this_arecord.score == nil %>
                      <%= link_to "Grade now", arecord_path(id: @this_arecord.id), class: "btn btn-danger" %>
                    <% else %>
                      <h5 class="graded_notice">
                        <%= link_to "Assignment graded", arecord_path(id: @this_arecord.id) %>
                      </h5>
                    <% end %>
                  </div>
              <% else %>
                <h4 class="assignment_not_submitted"> Assignment not submitted yet</h4>
                <div class="view_content">
                  <%= link_to "View assignment", assignment_path(id: assignment.id) %>
                </div>
            <% end %>
        </div>
      <%end %>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="pr_btn_student">
          <%= link_to "Create PR for #{@student.first_name}", new2_pr_path(student:{id: @student.id}), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
        <div class="section_header">
          <h2>Lessons:</h2>
        </div>
        <% @current_lessons.each do |lesson| %>
          <div class="well lesson_content">
              <h3 class="content_title">L<%= lesson.lesson_number %>.
              <%= lesson.title %> </h3>
            <% @this_lrecord = Lessonrecord.find_by(lesson_id: lesson.id, user_id: @student.id)
              if @this_lrecord == nil%>
                <h4 class="lesson_not_complete"> Lesson not completed yet</h4>
           <% elsif @this_lrecord.complete == "yes"%>
                <h4 class="lesson_complete"> Lesson completed</h4>
                <small class= "timestamp"></small>
           <% else %>
                <h4 class="lesson_not_complete"> Lesson not completed</h4>
           <% end %>
           <div class="view_content">
            <%= link_to "View lesson", lesson_path(id: lesson.id) %>
          </div>
          </div>
        <% end %>
      </div>
    </div>

</div>
