

<% if false %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% if notice %>
        <%= notice %>
      <% end %>
    </div>
  </div>
<% end %>



<div class="row">

  <div class="col-xs-2 col-xs-offset-9">

    <h1 class= "welcome_title">Start...<small></small>

    </h1>

    <div class="sign_in_form">
      <%= form_tag ({:class => 'form-group'}) do %>

        <div class="row">
          <%= label_tag :username %>
          <%= text_field_tag :username,"",class: 'form-control'%>
        </div>

        <div class="row">
          <%= label_tag :password %>
          <%= password_field_tag :password,"",class: 'form-control'%>
        </div>

        <div class="row sign_in_buttons">
          <%= submit_tag "Sign In", class: "btn btn-warning" %>
          or
          <%= link_to 'Sign Up', welcome_path%>
        </div>

      <% end %>

    </div>

  </div>
</div>
