<div class="container body_all">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <% @arecords.each do |arecord| %>
      <%= link_to arecord_path(id: arecord.id), class:"well-link" do  %>
        <div class="well lesson_content fade-in">
          <h3>A<%= arecord.assignment.assignment_number %>. <%= arecord.assignment.title %> </h3>
          <p> Submitted by: <%= arecord.user.full_name %></p>
          <small class= "timestamp">
            submitted <%= time_ago_in_words(arecord.created_at)%> ago
          </small>
          <h4><%= link_to "Grade", arecord_path(id: arecord.id) %></h4>
        </div>
      <%end %>
      <%end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="grade_dashboard_margin">
    </div>
  </div>
</div>
