<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% if @current_user.usertype == "teacher" %>
      <h1 class= "dashboard_title">Lessons</h1>
      <% else %>
      <h1 class= "dashboard_title">Dashboard</h1>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <% if @current_user.usertype == "teacher" %>
        <div class="new_lesson_btn btn">
          <%= link_to "New Lesson", new_lesson_path, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-8">
      <% @lessons.each do |lesson| %>
        <div class="well lesson_content">
          <% if @current_user.usertype == "teacher" %>
            <h3>L<%= lesson.lesson_number %>.</h3>
          <% end %>
          <h3><%= lesson.title %> </h3>
          <p>
            <%= lesson.content[0,200] %>...
          </p>
          <% if @current_user.usertype == "teacher" %>
            <div class="">
              <small> Released to students? <%= lesson.released_display %></small>
            </div>
            <small class= "timestamp">
                created <%= time_ago_in_words(lesson.created_at)%> ago
            </small>
          <% end %>
          <%= link_to "View", lesson_path(id: lesson.id) %>
          <% if @current_user.usertype == "teacher" %>
            <%= link_to "Edit", edit_lesson_path(id: lesson.id) %>
          <% end %>
        </div>
      <%end %>
    </div>
  </div>
  <% if (@current_user.usertype == "student" && @assignments != []) %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="assignment_due_title">
          <h2>Assignments due:</h2>
        </div>
        <% @assignments.each do |assignment| %>
          <div class="well lesson_content">
            <h3><%= assignment.title %> </h3>
            <p>
              <%= assignment.content[0,200] %>...
            </p>
            <%= link_to "View", assignment_path(id: assignment.id) %>
          </div>
        <% end %>
    </div>
  <% end %>

</div>
