


<div class="row">
  <div class="col-sm-9 col-sm-offset-3 sign_in_title">
    <h2>Edit lesson... <small></small>
    </h2 >
  </div>
</div>



<div class="row">
  <div class="col-sm-2">
    <div class="delete_lesson_btn btn">
      <%= link_to "Delete Lesson", delete_lesson_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>

  <div class="col-sm-7 col-sm-offset-1">
    <div class="sign_up_form form-group">

      <%= form_for(@lesson, url: update_lesson_path) do |f| %>
        <div class="f_lesson_number">
          <%= f.text_field :lesson_number, class: 'form-control', placeholder: "Lesson number (e.g. '1')"  %>
        </div>
        <div class="">
          <%= f.text_field :title, class: 'form-control', placeholder: "Lesson Title"  %>
        </div>
        <div class="f_release_radio_btns">
          <%= f.radio_button :released, '0', :checked => true %> Do not release this lesson yet
          <br />
          <%= f.radio_button :released, '1', :checked => false %> Release as soon as created
        </div>
        <div class="">
          <%= f.text_area :content,class: 'form-control', placeholder: "Content here...", size: "10x20"%>
        </div>
        <div class="f_create_lesson_buttons">
          <%= f.submit "Update Lesson", class: "btn btn-warning"%>
          or
          <%= link_to 'Cancel', :back %>
        </div>

      <% end %>
    </div>
  </div>
</div>
