<div class="container body_all">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <div class="lesson_title">
        <h1><%=@lesson.lesson_number %>. <%=@lesson.title %></h1>
        <small>last update on: <%= @lesson.updated_at.to_formatted_s(:short) %> UTC </small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <% if @current_user.usertype == "teacher" %>
        <div class="delete_lesson_btn btn">
          <%= link_to "Delete Lesson", delete_lesson_path, method: :delete, class: "btn btn-danger" %>
        </div>
        <div class="update_lesson_btn btn">
          <%= link_to "Update Lesson", edit_lesson_path(id: @lesson.id), method: :get, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-9 col-sm-offset-2">
      <p>
        <% if false %>
        <%= simple_format("#{@lesson.content}") %>
        <% end %>
        <%= markdown(@lesson.content) %>
      </p>
    </div>
  </div>
  <div class="row">
    <% if @current_user.usertype == "student" %>
          <% if @lesson_type == "incomplete" %>
          <div class="col-sm-4 col-sm-offset-8">
            <div class="next_lesson_complete_btn margin_btns">
              <%= link_to "Mark as complete and Next", create_lrecord_path(l_id: @lesson.id, u_id: @current_user.id), class: "btn btn-primary" %>
            </div>
          </div>
          <% elsif @lesson_type == "completed" %>
          <div class="col-sm-9 col-sm-offset-2">
            <div class="next_lesson_complete_btns_review margin_btns">
              <%= link_to "Mark as Incomplete", update_lrecord_path(l_id: @lesson.id, u_id: @current_user.id),method: :patch, class: "btn btn-danger" %>
              <%= link_to "Review Next Lesson", create_lrecord_path(l_id: @lesson.id, u_id: @current_user.id), class: "btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @current_user.usertype == "teacher" %>
      <div class="row">
        <div class="col-sm-9 col-sm-offset-2">
          <div class="next_lesson_btn margin_btns">
            <% if @current_l_number < @max_lesson_number %>
              <%= link_to "Next Lesson", lesson_path(id: @next_lesson.id), class: "btn btn-primary" %>
            <% else %>
              <%= link_to "Back to Lessons", lessons_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
