<div class="container body_all">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">

      <% if @current_user.usertype == "student" %>
        <% @lessons.each do |lesson| %>
          <%= link_to lesson_path(id: lesson.id), class:'well-link' do  %>
            <div class="well lesson_content fade-in">
              <h3>L<%= lesson.lesson_number %>. <%= lesson.title %></h3>
              <p><%= lesson.content[0,200] %>...</p>
            </div>
          <%end %>
        <%end %>
      <%end %>

      <% if @current_user.usertype == "teacher" %>
        <% @lessons.each do |lesson| %>
          <%= link_to lesson_path(id: lesson.id), class:'well-link'  do  %>
            <div class="well lesson_content fade-in">
              <h3>L<%= lesson.lesson_number %>. <%= lesson.title %></h3>
              <p><%= lesson.content[0,200] %>...</p>
                <small> Released to students? <%= lesson.released_display %></small>
                <small class= "timestamp">
                    created <%= time_ago_in_words(lesson.created_at)%> ago
                </small>
                <h4>
                    <%= link_to "Edit", edit_lesson_path(id: lesson.id) %>
                </h4>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if (@current_user.usertype == "student" && @assignments != []) %>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        <div class="assignment_due_title">
          <h2 class="fade-in two">Assignments due:</h2>
        </div>
        <% @assignments.each do |assignment| %>
          <div class="well lesson_content fade-in two">
            <h3>A<%= assignment.assignment_number %>. <%= assignment.title %> </h3>
            <p>
              <%= assignment.content[0,200] %>...
            </p>
            <%= link_to "View", assignment_path(id: assignment.id) %>
          </div>
        <% end %>
    </div>
  <% end %>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="grade_dashboard_margin">
    </div>
  </div>
</div>
