<div class="container body">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <% if @arecords == [] %>
        <div class="well no_graded_arecords_notice">
          <h3 class = ""> You don't have any assignments graded yet.</h3>
        </div>
      <% else %>
        <% @arecords.each do |arecord| %>
          <div class="well arecord_content">
            <h3 class="feedback_arecord_title">A<%= arecord.assignment.assignment_number %>. <%= arecord.assignment.title %> </h3>
            <p> <strong>Score: </strong> <%= arecord.score %> </p>
            <p> <strong>Instructor Feeback: </strong> <%= arecord.instructor_feedback %> </p>
            <div class="arecord_bottom_links">
              <%= link_to "View Assignment", assignment_path(id: arecord.assignment.id) %>
              <small>assignment submitted on: <%= arecord.created_at.to_formatted_s(:short)%> UTC </small>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <% if @prs == [] %>
      <% else %>
        <h3 class= "feedback_subtitle">Your Progress Reports: </h3>
        <% @prs.each do |pr| %>
          <div class="well pr_content">
            <h3 class="feedback_arecord_title">  <%= pr.title %> </h3>
            <p> <strong>Progress score: </strong> <%= pr.progress_score %> </p>
            <p> <strong>Instructor feeback: </strong> <%= pr.instructor_feedback %> </p>
            <%= link_to "See Progress Report", show_pdf_path(id: pr.id, format: 'pdf')  %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="margin_review_feedback">
    </div>
  </div>
</div>
