<!DOCTYPE html>
<html>
<head>
  <title>CatalystLMS</title>
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Trirong">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="menusection">
  <div class="row">
    <%= link_to student_feedback_path do  %>
      <div class="col-sm-4 menuitem">
        <h1><%=icon('tasks')%> Feedback </h1>
      </div>
    <% end %>
    <%= link_to lessons_path do  %>
      <div class="col-sm-4 menuitem">
        <h1><%=icon('tachometer')%> Dashboard </h1>
      </div>
    <% end %>
    <%= link_to student_review_path do  %>
      <div class="col-sm-4 menuitem">
        <h1><%=icon('book')%> Review </h1>
      </div>
    <% end %>
  </div>
</div>

<div class="row menusection_placeholder">
</div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="signed_in_as_text">
        <% if @current_user %>
          <inline>Signed in as <%= @current_user.username %> </inline>
        <% end  %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>  </p>
      <% end %>
      </div>
    </div>
  </div>


  <div class="logout_button btn">
    <%= link_to "Log Out", sign_out_path, class: "btn btn-warning" %>
  </div>


  <%= yield %>

  <div class="margin">

  </div>
  <div class="row test">
    <div class="col-sm-12">
          <div class="creditsbar">
              <h6>Catalyst</h6>
              <h6>Enrique Carral Trevino</h6>
              <h6>Copyright 2016</h6>
          </div>
      </div>
    </div>



</body>
</html>
