<!DOCTYPE html>
<html>
<head>
  <title>CatalystLms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <% if notice %>
      <div class="alert alert-warning">  <%= notice %>  </p>
    <% end %>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-sm-1 col-sm-offset-11">
      <div class="logout_button btn">
        <%= link_to "Log Out", sign_out_path, class: "btn btn-warning" %>
      </div>
    </div>
  </div>

<%= yield %>

<div class="test">
  <footer>
    <div class="creditsbar">
        <h6>Enrique Carral Trevino</h6>
        <h6>Copyright 2016</h6>
    </div>
  </footer>
</div>

</body>
</html>
